@model TransactionIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Nieuw transaction</h2>
<form asp-controller="Transaction" asp-action="IndexPost">
    <div class="form-group">
        <label for="exampleInputEmail1">Klantnummer</label>
        <input class="form-control" asp-for="CustomerId" placeholder="Vul nummer in" autofocus>
        <small class="form-text text-muted">Scan of vul het nummer in</small>
        <span asp-validation-for="CustomerId"></span>
    </div>
    <button class="btn btn-info">Start</button>
</form>
